.About {
    font-family: kelson;
    width: 800px;
    margin: 0 auto;
}
.About h1 {
    font-family: kelson;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-align: center;
}
.About p {
    text-align: center;
    text-indent: 30px;
}

.About__btn {
    display: block;
    width: 100%;
    text-decoration: none;    
}
.About__btn button {
    font-family: kelson;
    font-size: 15px;
    letter-spacing: 0.05em;
    border-radius: 20px;
    border: 0;
    height: 40px;
    width: 150px;
    display: block;
    margin: 20px auto;
    background-color: hsl(191, 100%, 55%);
    color: white;
}
.About__btn button:hover {
    cursor: pointer;
    background-color: white;
    background-color: hsl(191, 100%, 35%);
    transition: background-color 0.5s;
}
.About p span {
    font-weight: 800;
}
.About__usg {
    margin-top: 40px;
    width: 800px;
    display: flex;
}
.About__usg img {
    width: 380px;
    padding-right: 10px;
}
.About__usg p {
    text-align: left;
}
.About__license {
    margin-top: 40px;
    width: 800px;
    display: flex;
}
.About__license p {
    text-align: right;
    padding-top: 30px;
    padding-right: 15px;
}
.About__license img {
    width: 380px;
    padding-right: 10px;
}
.About__others {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 800px;
    display: flex;
}
.About__others p {
    /* padding-left: 10px; */
    /* text-align: right; */
    padding-top: 30px;
    padding-left: 15px;
    text-align: left;
}
.About__others img {
    width: 400px;
}