.About {
    font-family: kelson;
    width: 800px;
    margin: 0 auto;
}
.About h1 {
    font-family: kelson;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-align: center;
}
/* .About :nth-child(2) {
    text-align: justify;
} */
.About p {
    /* text-align: justify; */
    text-align: center;
    text-indent: 30px;
}