.Diagnostics {
    width: 730px;
    margin: 5px auto;
}
.Diagnostics h1 {
    font-family: kelson;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-align: center;
}
.Diagnostics p {
    text-indent: 30px;
}
.Diagnostics__wrapper {
    width: 715px;
    margin: 10px auto;
}
.Diagnostics__wrapper img {
    height: 200px;
    width: 300px;
}
.Diagnostics__wrapper p {
    width: 380px;
    float: right;
    margin-right: 20px;
}
.Diagnostics__wrapper span {
    font-weight: 600;
}
.Diagnostics__wrapper p a {
    color: black;
    font-weight: 600;
    text-underline-offset: 3px;
    /* text-decoration: none; */
}
.Diagnostics__wrapper p a:hover {
    color: grey;
    transition: color 0.5s;
}