.DoctorPage {
    width: 1200px;
    margin: 10px auto;
    /* display: flex; */
}
.DoctorPage img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: top;
    float: left;
}
.DoctorPage h1 {
    text-decoration: underline; 
    text-underline-offset: 10px; 
    font-family: kelson; 
}
.DoctorPage h3 {
    font-family: kelson; 
    font-weight: 700;
    /* font-weight: 500; */
}
.DoctorPage h4 {
    font-family: kelson; 
    margin: 5px 0;
    text-decoration: underline;
    text-underline-offset: 5px;
    /* font-weight: 800; */
}
.DoctorPage p {   
    text-align: justify;
}
.DoctorPage__bio :nth-child(4) {
    margin-top: 0px;
    font-weight: 500;
}
.DoctorPage__buttons-wrapper {
    /* justify-content: center; */
    width: 260px;
    margin: 0 auto;
}
.DoctorPage button {
    font-family: kelson;
    font-size: 14px;
    width: 120px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    /* display: inline-block; */
    margin: 5px;
    background-color: rgb(0, 64, 255);
}
/* .DoctorPage__buttons-wrapper :nth-child(1) {
} */
.DoctorPage__buttons-wrapper :nth-child(2) {
    background-color: hsl(191, 100%, 55%);

}
.DoctorPage button:hover {
    cursor: pointer;
    background-color: white;
    background-color: hsl(191, 100%, 35%);
    transition: background-color 0.5s;
}
.DoctorPage button a {
    text-decoration: none;
    color: white;
    /* background-color: pink; */
}