.Footer {
    font-family: kelson;
    background-color: hsl(191, 100%, 75%);
    line-height: 40px;
    padding: 0 8px;
}
.Footer::before {
    content: 'Copyright 2023 © Medical-Vita - NZOZ Zespół Gabinetów Lekarskich';
}
.Footer::after {
    content: 'Realizacja ARDEO Grzegorz Muszyński';
    float: right;
}

@media(max-width: 800px) {
    .Footer::after {
        float: none;
        display: block;
    }
}